@charset 'UTF-8';

@media screen and (max-height:334px){
    body{
        flex-direction: column;
    }

    header{
        width: 100%;
        height: 100px;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header > div#logoAndButton{
        flex-direction: column;
        
    }

    

    nav > ul{
        flex-direction: row;
        height: 10px;
        
    }

    

}