@charset 'UTF-8';

@media screen and (min-width: 768px){

    header{
        width: 300px;
    }

    header > div#logoAndButton{
        width: 300px;
        
    }

    nav > ul > li > div#searchItem{
        width: 250px;
    }

    header > div#profileAndLogOut{
        width: 300px;
    }

   header > div#profileAndLogOut > div#paragraphs{
    font-size: 1em;
   }

   div#paragraphs > p#userProfession{
    font-size: 0.8em;
   }
}