@charset 'UTF-8';

@media screen and (min-width: 768px){
    
    header > div#logoAndButton{
        justify-content: space-between;
    }

    header > div#logoAndButton > img#logoImg{
        display: flex;
    }
    
    div#listDiv{
        align-items: flex-start;
    }

    div#listDiv > div#searchDiv{
        display: flex;
        justify-content: left;
        gap: 10%;
        padding-left: 10px;
    }

    div#listDiv > div#searchDiv > li{
        display: flex;
    }

    div#listDiv > div.itensList{
        display: flex;
        justify-content: left;
        gap: 10%;
    }

    div#listDiv > div.itensList > li{
        display: flex;
     }

     div#LogOut{
        display: flex;
        justify-content: left;
        
     }

    div#logOut > img#userPic{
        display: flex;

        width: 60px;
        height: 60px;
        border-radius: 10px;

        position: absolute;
        top: 10px;
        left: 20px;
      }
      
      div#logOut > div#paragraphs{
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 10px;
        left: 100px;
        font-weight: bold;
      }

      div#logOut > img#logOutImg{
        position: absolute;
        top: 25px;
        left: 25vw;
        
        transform: translateX(10px);
      }
      
      div#logOut > img#logOutImg:hover{
        transform: translate(2px, -2px);
        transition-duration: 0.3s;
        cursor: pointer;
      }
}