@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
      --light-grey: #dce4e3;
    --text-color: #084236;

    --poppins: 'Poppins', 'sans-serif';
  }

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body,html{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    
    background-color: var(--body-bg-color);

    font-family: var(--poppins);
    font-size: 1em;
  }

  header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 40vw;
    background-color: var(--green);

    transition: width 0.5s;
    transition-timing-function: ease;

  }

  header > div#logoAndButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 40vw;
    padding: 10px;

    transition: width 0.5s;
    transition-timing-function: ease;
    
  }


  div#logoAndButton > img#menuButton:hover{
   cursor: pointer;
  }

  nav > ul{
    list-style-type: none;

    padding: 10px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  nav > ul > li > div.listItem{
    display: flex;
    gap: 8px;
    align-items: stretch;
  }

  nav > ul > li > div.listItem > a{
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;



  }

  nav > ul > li > div#searchItem{
    width: 35vw;
    height: 50px;
    padding: 12px 5px;
    
    background-color: var(--light-green);
    border-radius: 8px;

    transition: width 0.3s;
    transition-timing-function: ease;
  }

  div#searchItem > input{
    width: 100%;

    background-color: var(--light-green);
    border: none;
    cursor: pointer;

    font-family: var(--poppins);
    font-size: 1em;
    text-indent: 5px;
    

  }

  nav > ul > li:hover{
    transform: translate(2px, -2px);
    transition-duration: 0.3s;
    cursor: pointer;
  }

  nav > ul > li > input{
    background-color: var(--light-green);
    border: none;
    
    width: 60%;
    height: 40px;
    border-radius: 8px;

    font-family: var(--poppins);
    font-size: 1em;
    text-indent: 5px;
    color: var(--text-color);
  }

  header > div#profileAndLogOut{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40vw;
    background-color: var(--light-green);
    padding: 10px;

    transition: width 0.5s;
    transition-timing-function: ease;
  }

  header > div#profileAndLogOut > img#profileImg{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-radius: 8px;
  }

  header > div#profileAndLogOut > div#paragraphs{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: bold;
    font-size: 1em;
  }

  div#paragraphs > p#userProfession{
    font-size: 0.8em;
  }

  header > div#profileAndLogOut > img#logOutButton:hover{
    transform: translate(2px, -2px);
    transition-duration: 0.3s;
    cursor: pointer;
  }

  main{
    padding: 5px;

    color: var(--text-color);
  }
  


  

  



  