@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
      --light-grey: #dce4e3;
    --text-color: #084236;

    --poppins: 'Poppins', 'sans-serif';
  }

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body,html{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    
    background-color: var(--body-bg-color);

    font-family: var(--poppins);
    font-size: 1em;
  }

  header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30vw;
    height: 100%;
    padding: 10px;

    background-color: var(--green);

    font-family: var(--poppins);
    color: var(--text-color);
    
  }

  header > div#logoAndButton{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;

  }

  header > div#logoAndButton > img#logoImg{
    display: none;
  }

  header > nav > ul{
    list-style-type: none;
   }

 div#listDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#listDiv > div#searchDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 50%;
  height: 60px;
  margin-bottom: 40px;
  border-radius: 10px;

  background-color: var(--light-green);
}

div#listDiv > li{
  margin-bottom: 60px;
}


 

  


  

  



  